html, body {
  font-family: product sans,Helvetica,Arial,serif;
  -webkit-font-smoothing: antialiased;
  margin: 10px 0px;
}

a {
  text-decoration: none;
  color: rgb(113, 133, 243);
}

a:hover {
  color: rgb(248, 121, 121);
}

p {
  font-size: 16px;
  margin: 5px 0px;
  color: rgb(41, 40, 49);
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header .menu {
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 500px;
}

.header .menu .link {
  padding: 5px;
  font-weight: bold;
}

.header .menu a.link {
  color: rgb(240, 243, 43);
}

.header .menu a.link:hover {
  color: #fff;
}

.header h1 {
  padding: 0px;
  margin: 0px;
  font-size: 40px;
}

.header h1 a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 850px) {
  html, body {
    padding: 0px;
    margin: 0px;
  }
  .header .menu {
    display: flex;
    flex-grow: 1;
    margin-left: 0px;
    flex-direction: row;
    justify-content: center;
  }
  .header {
    justify-content: center;
  }
  .container {
    width: 100%;
  }
  .header .menu {
    padding-top: 5px;
  }
  .header h1 {
    font-size: 25px;
  }
}

.intro {
  border-bottom: 4px solid #000;
  padding: 30px 20px;
}

.intro p {
  font-size: 16px;
}

.badge {
  background-color: #7085f3;
  padding: 10px;
  /* font-size: 25px; */
  color: #fff;
}

.black-badge {
  background-color: #000;
  padding: 5px 10px;
  font-size: 18px;
  color: #fff;
}

.bullet-box {
  display: inline-block;
  min-width: 12px;
  min-height: 12px;
  background-color: #000;
  margin-right: 5px;
  margin-top: 4px;
  position: relative;
}

.features-block .two-panel {
  display: flex;
  flex-wrap: wrap;
}

.features-block .two-panel .panel-block {
  flex-grow: 1;
}

.features-block .two-panel div p {
  display: flex;
  align-items: baseline;
}

h1, h3 {
  margin: 0px;
  margin-bottom: 12px;
  padding: 0px;
}

.list-block {
  display: flex;
  margin-bottom: 15px;
}

.list-block .list-icon {
  flex-grow: 0;
  max-width: 14px;
  padding-right: 5px;
}

.list-block .list-block-content {
  flex-grow: 1;
}

.list-block .list-block-content .list-block-header {
  font-weight: bold;
  padding-bottom: 2px;
}

.list-block .list-block-content .list-block-body {
  font-size: 16px;
  color: #333;
}

.black-intro {
  background-color: #000;
  color: #fff;
}

.black-intro p {
  color: #fff;
}

.white-badge {
  background-color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  color: #000;
}

.yellow-color {
  color: rgb(240, 243, 43);
}

.pt5 {
  padding-top: 5px;
}