html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; width: 100%;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 14px;
  line-height: 20px;
}

* {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

a {
  color: #2798e4;
}

a:hover {
  color: #1783ca;
  text-decoration: none;
}

li {
  line-height: 26px;
}

.header {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 9;
}

div.container {
  display: flex;
  height: 100%; width: 100%;
  flex-direction: column;
  overflow: hidden;
}

div.app {
  display: flex;
  height: 100%; width: 100%;
  flex-direction: row;
}

div.left {
  border-right: 4px solid #000;
  min-width: 250px;
  padding-top: 70px;
}

div.right {
  flex-grow: 1;
  overflow: scroll;
  /* margin-top: 20px; */
}

div#docs_menu_sidebar {
  background-color: #fff;
  height: 100%;
  overflow: scroll;
  margin-top: -60px;
}

div#docs_menu_sidebar a {
  display: block;
  
  text-decoration: none;
  color: #000;
}

div#docs_menu_sidebar a:hover {
  background-color: #000;
  color: #fff;
}

div#docs_menu_sidebar a:last-child {
  margin-bottom: 20px;
}

div#docs_menu_sidebar a {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div#docs_menu_sidebar a ion-icon {
  padding-right: 10px;
  font-size: 22px;
}
div#docs_menu_sidebar a:hover {
  color: #000 !important;
  background-color: #eee !important;
}
div#docs_menu_sidebar a.visited {
  color: #fff !important;
  background-color: #000 !important;
}

div#docs_menu_sidebar a.visited ion-icon {
  color: rgb(255, 240, 157) !important;
  background-color: #000 !important;
}

h3 {
  font-size: 20px;
}

.intro {
  max-width: 1000px;
  margin: 0px 20px;
  padding-bottom: 100px;
}

.full-height {
  height: 100%;
}

.hide {
  display: none;
}

span._f1 {
  font-size: 16px;
  display: block;
  color: rgb(35, 123, 206);
}

.badge {
  border-bottom: 4px solid #000;
  padding-bottom: 5px;
  font-size: 16px;
}

.red-color {
  color: rgb(255, 0, 0);
}

.blue-color {
  color: rgb(0, 132, 255);
}

div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  padding-left: 10px;
  display: block;
}

#firefox-issue {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: #444;
  padding: 0px 10px;
  width: 300px;
  align-items: center;
  margin: 30px;
}

#firefox-issue img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.toggler {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.toggler:hover {
  color: rgb(248, 227, 198);
}

.header_menu ion-icon {
/*   border: 1px solid red; */
  margin-bottom: -4px;
  margin-right: 2px;
  font-size: 20px;
}

.header_menu a {
  color: #eace79;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #333;
  padding: 6px 15px;
  border-radius: 5px;
}

.header_menu a:hover {
  background-color: #555;
  color: #fff;
}