html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  background-color: #27272b;
  color: #d7d7d8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  color: #4caef0;
  text-decoration: none;
}

a:hover {
  color: #1783ca;
  text-decoration: solid underline;
}

p {
  margin: 0px 0px 15px 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  line-height: 26px;
}

h1 {
  color: #988cca;
  text-shadow: 0px 2px 3px #1b1c1f;
  font-size: 28px;
  margin: 20px 0px 25px 0px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #c19c90;
  margin-top: 25px;
  margin-bottom: 12px;
}

h3 {
  color: #c9ac57;
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 13px;
  font-weight: normal;
}

blockquote {
  background-color: #2b2c2f;
  padding: 20px;
  border-left: 10px solid #36363a;
}

blockquote p:last-child {
  margin-bottom: 0px;
}

li h1 {
  font-size: 17px;
  margin-bottom: 0px;
  color: rgb(190, 190, 229);
}

li p {
  margin-bottom: 3px;
  font-size: 14px;
}

h3,
h4,
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

pre,
code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
  color: rgb(233, 85, 59);
}

pre code {
  color: unset;
}

.header {
  background-color: #232327;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 9;
  border-bottom: 1px solid #1b1b20;
}

div.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

div.app {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
}

div.left {
  min-width: 250px;
}

div.right {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

pre.hljs {
  background-color: #1e1e22;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #17171b;
  line-height: 22px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

div#docs_menu_sidebar {
  background-color: #2c2c31;
  overflow: auto;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  border-right: 1px solid #1b1b20;
}

div#docs_menu_sidebar a {
  display: block;

  text-decoration: none;
  color: #d6d6d9;
}

div#docs_menu_sidebar a:hover {
  color: #eace79;
}

div#docs_menu_sidebar a:last-child {
  margin-bottom: 20px;
}

div#docs_menu_sidebar a {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div#docs_menu_sidebar a ion-icon {
  padding-right: 10px;
  font-size: 22px;
}
div#docs_menu_sidebar a.visited {
  color: #fff !important;
  background-color: #36363a !important;
}

div#docs_menu_sidebar a.visited ion-icon {
  color: rgb(255, 240, 157) !important;
  background-color: #36363a !important;
}

.intro {
  max-width: 1000px;
  margin: 0px 30px;
  margin-top: 25px;
  padding-bottom: 50px;
}

.full-height {
  height: 100%;
}

.hide {
  display: none;
}

span._f1 {
  font-size: 16px;
  display: block;
  color: #4183b9;
}

.badge {
  border-bottom: 3px solid rgb(65, 68, 75);
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #828cea;
}

.red-color {
  color: #da7a7a;
}

.blue-color {
  color: #7a84da;
}

div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 18px;
  padding-left: 10px;
  display: block;
  letter-spacing: 0.3px;
  font-weight: bold;
  color: rgb(221, 221, 221);
}

div.logo a span {
  color: #1dbb99;
  padding-left: 2px;
}

.toggler {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.toggler:hover {
  color: rgb(248, 227, 198);
}

.header_menu ion-icon {
  margin-bottom: -4px;
  margin-right: 2px;
  font-size: 18px;
}

.header_menu a {
  color: #c9ac57;
  text-decoration: none;
  font-size: 14px;
  background-color: #2a2a30;
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid #1b1b20;
}

.header_menu a:hover {
  background-color: rgb(53, 54, 54);
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(73, 73, 73);
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

@media only screen and (max-width: 700px) {
  .header_menu a {
    background-color: transparent;
    border: none;
  }
  .header_menu .menu {
    padding: 10px 5px;
  }
  .header_menu .menu:hover {
    background-color: transparent;
  }
  .hide-sm {
    display: none;
  }
  div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    padding-left: 5px;
    display: block;
    letter-spacing: 0.3px;
    font-weight: bold;
    color: rgb(221, 221, 221);
  }
}
