html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  background-color: #27272b;
  color: #bbbbc9;
}

* {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: #2798e4;
}

a:hover {
  color: #1783ca;
  text-decoration: none;
}

li {
  line-height: 26px;
}

h3 {
  color: #5fa8b1;
}

.header {
  background-color: #232327;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 9;
}

div.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

div.app {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
}

div.left {
  min-width: 250px;
}

div.right {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

pre.hljs {
  background-color: #2c2c31;
  border-radius: 5px;
  padding: 20px;
}

div#docs_menu_sidebar {
  background-color: #2c2c31;
  overflow: scroll;
  height: calc(100vh - 68px);
  overflow-x: hidden;
}

div#docs_menu_sidebar a {
  display: block;

  text-decoration: none;
  color: #d6d6d9;
}

div#docs_menu_sidebar a:hover {
  color: #eace79;
}

div#docs_menu_sidebar a:last-child {
  margin-bottom: 20px;
}

div#docs_menu_sidebar a {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div#docs_menu_sidebar a ion-icon {
  padding-right: 10px;
  font-size: 22px;
}
div#docs_menu_sidebar a.visited {
  color: #fff !important;
  background-color: #36363a !important;
}

div#docs_menu_sidebar a.visited ion-icon {
  color: rgb(255, 240, 157) !important;
  background-color: #36363a !important;
}

h3 {
  font-size: 20px;
}

.intro {
  max-width: 1000px;
  margin: 0px 30px;
  padding-bottom: 100px;
}

.full-height {
  height: 100%;
}

.hide {
  display: none;
}

span._f1 {
  font-size: 16px;
  display: block;
  color: #4183b9;
}

.badge {
  border-bottom: 3px solid rgb(65, 68, 75);
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #828cea;
}

.red-color {
  color: #da7a7a;
}

.blue-color {
  color: #7a84da;
}

div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  padding-left: 10px;
  display: block;
  letter-spacing: 0.3px;
  font-weight: bold;
  color: rgb(221, 221, 221);
}

div.logo a span {
  color: #1dbb99;
  padding-left: 2px;
}

.toggler {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.toggler:hover {
  color: rgb(248, 227, 198);
}

.header_menu ion-icon {
  /* border: 1px solid red; */
  margin-bottom: -4px;
  margin-right: 2px;
  font-size: 18px;
}

.header_menu a {
  color: #c9ac57;
  text-decoration: none;
  font-size: 14px;
  background-color: #2a2a30;
  padding: 6px 15px;
  border-radius: 5px;
}

.header_menu a:hover {
  background-color: rgb(53, 54, 54);
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(73, 73, 73);
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

@media only screen and (max-width: 700px) {
  .header_menu a {
    background-color: transparent;
  }
  .header_menu .menu {
    padding: 10px 5px;
  }
  .header_menu .menu:hover {
    background-color: transparent;
  }
  .hide-sm {
    display: none;
  }
}
